@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

/* direction helpers */
.direction-ltr {
  direction: ltr;
}
.direction-rtl {
  direction: rtl;
}

/* infinite scroll for bottom strip */
@keyframes strip-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.strip-scroll {
  animation: strip-scroll 20s linear infinite;
}
